.checkbox_container {
  input[type="checkbox"] {
    // box-sizing: border-box;
    // width: 20px;
    // height: 20px;
    // margin: 6px;
    // padding: 0;
    // border: 2px solid var(--color-bg);
    // border-radius: 50%;
    // appearance: none;
    // background-color: transparent;
    // outline: none;
    // transition: outline 0.1s;
    // margin-right: 25px;

    &:checked {
      background-size: cover;
      padding: 2px;
      border-color: var(--color-bg);
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><circle cx="10" cy="10" r="8" fill="rgb(240, 176, 20)" /></svg>');
    }
    input[type="checkbox"]:focus {
      outline: none;
    }
  }
}
