.checkbox_container {
  input[type="checkbox"] {
    &:checked {
      background-size: cover;
      padding: 2px;
      border-color: var(--color-bg);
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><circle cx="10" cy="10" r="8" fill="rgb(240, 176, 20)" /></svg>');
    }
    input[type="checkbox"]:focus {
      outline: none;
    }
  }
}
