// .svgContainer {
//   width: 20vw;
//   height: 20vw;
//   background-color: red;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   .svg {
//     width: 100%;
//   }
// }
.svg {
  transform: rotate(90deg);
  width: 40px;
  position: absolute;
  right: 10px;
  top: 4px;
}
