@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #f0bf46;
  --color-bg: #181818;
  --color-primary-text: #f4f4f4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  /* background-color: var(--color-bg); */
  background-image: url("/bg3.svg");
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  /* background-size: cover; */
  color: #f4f4f4;
}
.wrapper {
  max-width: 20.938rem;
  /* max-width: 98.25rem;    DESKTOP */
  margin-inline: auto;
}
