@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #f0bf46;
  --color-bg: #181818;
  --color-primary-text: #f4f4f4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background-image: url("/bg.png");

  color: #f4f4f4;
}
.wrapper {
  max-width: 20.938rem;
  margin-inline: auto;
}
.circle {
  position: relative;
  aspect-ratio: 1;
}

.letter {
  position: absolute;
  top: 0;
  left: 50%;
  font-weight: bolder;
  color: var(--color-primary);
}
